:root {
    --dark-color: #212121;
    --light-color: #fffeff;
    --accent-color: #4b4bf7;
    --hover-color: #5656e1;
    --win-color: #32CD32;
    --lose-color: #FF0609;
}

body {  
    background-color: var(--dark-color);
    color: var(--light-color);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#newGame {
    background-color: var(--accent-color);
    color: var(--light-color);
    font-size: 1rem;
    padding: 10px 20px;
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 300ms;
}

#newGame:hover {
    background-color: var(--hover-color);
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}

.container h2 {
    display: flex;
    justify-content: center;
}

.theGame {
    color: var(--dark-color);
    border: 1px solid var(--dark-color);
    border-radius: 10px;
    background-color: var(--light-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.playerSelect, .computerSelect {
    margin: 0 20px;
}

.displayPlayerScore, .displayComputerScore {
    margin-left: 20px;
    color: rgba(33, 33, 33, 0.5);
}

.playerSelect button, .computerSelect button {
    font-size: 2rem;
    border: none;
    background: none;
    outline: none;
    margin: 20px;
}

.selection {
    transition:  500ms ease-out;
}

.selection:hover {
    cursor: pointer;
    transform: scale(1.8);
}

.active {
    transform: scale(1.8);
}

.displayChoices {
    margin: 40px 0 20px 0;
    width: 200px;
}

.displayChoices p {
    margin: 10px 0;
    padding: 10px;
    font-weight: 700;
    color: var(--dark-color);
}

.displayGameResult {
    text-align: center;
    padding: 20px;
    border: none;
    border-radius: 10px;
    background-color: var(--accent-color);
    color: var(--light-color);
}

.winBgColor {
    background-color: var(--win-color);
}

.loseBgColor {
    background-color: var(--lose-color);
}

.winTextColor {
    color: var(--win-color);
}

.loseTextColor {
    color: var(--lose-color);
}